body{
  margin: 0;
  padding: 0;
  text-align: center;
}

.main__gastos{
  text-align: center;
}

.div__form__carga{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.container__table__buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.table__icon__actions {
  width: 30px;
  height: 30px;
  transition: transform 0.4s ease;
  border-radius: 5px;
  &:hover{
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

.green__icon{
  background-color: #83d36d;
  &:hover{
    background-color: #408e2b;
  }
}

.red__icon{
  background-color: rgb(245, 22, 22);
  &:hover{
    background-color: rgb(144, 7, 7)
  }
}
